{% extends base.html %}
{% block title %}login{% end %}
{% block body1 %}
<div class="container" style="text-align: center">
    <form action="/login?next={{ nextname }}" method="post">
        {% module xsrf_form_html() %}
        <div class="container" style="width: 500px;margin: 200px auto;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" style="width: 16px"
                                                                  aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Account" name="username"
                       aria-label="账户">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="passwd"
                       aria-label="密码" style="width: 400px">
            </div>
            <div class="input-group mb-sm-5" style="margin: 0px 150px">
                <button type="submit" class="btn btn-primary" style="margin:0px 20px">登录</button>
                <span class="input-group-text"><a href="/register">注册</a></span>
            </div>
        </div>
    </form>
</div>
{% end %}


