{% extends base.html %}
{% block title %}login{% end %}
{% block body1 %}
<form action="/login?next={{ nextname }}" method="post">
    <div class="container" style="width: 800px;margin: 200px auto;" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i>  </span>
        </div>
        <input type="text" class="form-control" placeholder="Account" name="username" aria-label="账户">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" ><i class="fa fa-key" aria-hidden="true"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" name="passwd" aria-label="密码">
    </div>
        <div class="input-group mb-3" style="width: auto;text-align: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
            <span class="input-group-text"><a href="/register">注册</a></span>
        </div>
    </div>
</form>
{% end %}


